#!/bin/sh

### BEGIN INIT INFO
# Provides:          firewall
# Required-Start:
# Required-Stop:
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Firewall with iptables
### END INIT INFO


firewall_clean()
{
	iptables -P INPUT ACCEPT
	iptables -P FORWARD ACCEPT
	iptables -P OUTPUT ACCEPT

	iptables -F
	iptables -X
	iptables -t raw -F
	iptables -t raw -X
	iptables -t nat -F
	iptables -t nat -X
	iptables -t mangle -F
	iptables -t mangle -X
}

firewall_start()
{
	firewall_clean

	# Allow established connections
	iptables -A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
	iptables -A OUTPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT

	# Allow loopback
	iptables -A INPUT -i lo -j ACCEPT
	iptables -A OUTPUT -o lo -j ACCEPT

	# Default chain policy
	iptables -P INPUT DROP
	iptables -P FORWARD DROP
	iptables -P OUTPUT DROP

	#
	# Incoming
	#

{% if firewall_in_ping %}
	# ICMP (ping)
	iptables -A INPUT -p icmp --icmp-type echo-request -j ACCEPT
	iptables -A OUTPUT -p icmp --icmp-type echo-reply -j ACCEPT
{% endif %}

{% if firewall_in_ssh %}
	# SSH
	iptables -A INPUT -p tcp --dport {{ firewall_in_ssh_port }} -m state --state NEW,ESTABLISHED -j ACCEPT
	# FIXME problème de démarrage du service via Ansible avec cette règle (pas de retour suite à la commande de démarrage)
	# iptables -A OUTPUT -p tcp --sport {{ firewall_in_ssh_port }} -m state --state ESTABLISHED -j ACCEPT
	iptables -A OUTPUT -p tcp --sport {{ firewall_in_ssh_port }} -j ACCEPT
{% endif %}

{% if firewall_in_http %}
	# HTTP/HTTPS
	iptables -A INPUT -p tcp -m multiport --dports 80,443 -m state --state NEW,ESTABLISHED -j ACCEPT
	iptables -A OUTPUT -p tcp -m multiport --sports 80,443 -m state --state ESTABLISHED -j ACCEPT
{% endif %}

{% if firewall_in_tcp_ports %}
{% for group, ports in firewall_in_tcp_ports.iteritems() %}
{% if ports %}
        # {{ group }}
{% for port in ports %}
	iptables -A INPUT -p tcp --dport {{ port }} -m state --state NEW,ESTABLISHED -j ACCEPT
	iptables -A OUTPUT -p tcp --sport {{ port }} -m state --state ESTABLISHED -j ACCEPT
{% endfor %}

{% endif %}
{% endfor %}
{% endif %}

{% if firewall_in_rules %}
{% for group, rules in firewall_in_rules.iteritems() %}
{% if rules %}
	# {{ group }}
{% for rule in rules %}
	iptables {{ rule }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

	#
	# Outgoing
	#

{% if firewall_out_ntp %}
	# NTP (server time) 
	iptables -A OUTPUT -p udp --dport 123 -j ACCEPT
{% endif %}

{% if firewall_out_dns %}
	# DNS
	iptables -A OUTPUT -p udp --dport 53 -j ACCEPT
	iptables -A INPUT -p udp --sport 53 -j ACCEPT
{% endif %}

{% if firewall_out_http %}
	# HTTP/HTTPS
	iptables -A OUTPUT -p tcp -m multiport --dports 80,443 -m state --state NEW,ESTABLISHED -j ACCEPT
	iptables -A INPUT -p tcp -m multiport --sports 80,443 -m state --state ESTABLISHED -j ACCEPT
{% endif %}

{% if firewall_out_http_squid %}
	# HTTP/HTTPS (through squid proxy)
	iptables -A OUTPUT -p tcp -m multiport --dports 80,443 -m state --state NEW,ESTABLISHED -m owner --uid-owner proxy -j ACCEPT
	iptables -A INPUT -p tcp -m multiport --sports 80,443 -m state --state ESTABLISHED -j ACCEPT
{% endif %}

{% if firewall_out_smtp %}
	# SMTP
	iptables -A OUTPUT -p tcp --dport 25 -j ACCEPT
{% endif %}

{% if firewall_out_tcp_ports %}
{% for group, ports in firewall_out_tcp_ports.iteritems() %}
{% if ports %}
        # {{ group }}
{% for port in ports %}
	iptables -A OUTPUT -p tcp --dport {{ port }} -m state --state NEW,ESTABLISHED -j ACCEPT
	iptables -A INPUT -p tcp --sport {{ port }} -m state --state ESTABLISHED -j ACCEPT
{% endfor %}

{% endif %}
{% endfor %}
{% endif %}

{% if firewall_out_rules %}
{% for group, rules in firewall_out_rules.iteritems() %}
{% if rules %}
        # {{ group }}
{% for rule in rules %}
        iptables {{ rule }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
}

firewall_status()
{
	iptables -n -L
	
	NUMBER_OF_RULES=$(iptables-save | grep '^\-' | wc -l)
	if [ 0 -eq $NUMBER_OF_RULES ]; then
		# program is not running
		exit 3
    	else
		# program is running or service is OK
		exit 0
	fi
	exit 4
}

firewall_stop()
{
	firewall_clean
}


case $1 in
	start)
		echo "Starting firewall"
		firewall_start
		;;
	status)
		firewall_status
		;;
	restart)
		echo "Restarting firewall"
		firewall_start
		;;
	stop)
		echo "Stopping firewall"
		firewall_stop
		;;
	*)
		echo "Usage: firewall {start|status|restart|stop}"
		exit 1
		;;
esac

exit 0

